/* --------General Styling-------- */
/* Variables used to specify general colors and Fonts */
:root {
    --orange: #e4a923; 
    --white: #fafafa;
    --gunmetal: #3b5249;
    --font-exo: "Exo" , sans-serif;
}

html,
body,
header,
.hero-image {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto" , sans-serif;
    background-color: var(--white);
    font-size: 100%;
    background-color: var(--white);
}

/* Set width and height for all images for faster loading times */
img {
    width: 100%;
    height: auto;
}

/* --------Headings-------- */

/* Used to center content in hero images */
.full-bg-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Styling for h1 with fade in animation */
.main-heading {
    margin: 0;
    animation-name: fadeInImageContent;
    animation-duration: 2.5s;
    animation-direction: normal;
    animation-timing-function: linear;
    font-weight: 800;
    -o-animation-name: fadeInImageContent;
    -o-animation-duration: 2.5s;
    -o-animation-direction: normal;
    -o-animation-timing-function: linear;
    -webkit-animation-name: fadeInImageContent;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: fadeInImageContent;
    -moz-animation-duration: 2.5s;
    -moz-animation-direction: normal;
    -moz-animation-timing-function: linear;
}

/* General heading styling */
.heading { 
    text-align: center;
    letter-spacing: 1px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 200;
}

/* Footer heading styling */
.footer-heading {
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
}
/* --------Paragraphs-------- */

/* Hero img text styling with fade in animation */
.heading-text {
    font-family: var(--font-exo);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    animation-name: fadeInImageContent;
    animation-duration: 4.5s;
    animation-direction: normal;
    animation-timing-function: linear;
    -o-animation-name: fadeInImageContent;
    -o-animation-duration: 4.5s;
    -o-animation-direction: normal;
    -o-animation-timing-function: linear;
    -webkit-animation-name: fadeInImageContent;
    -webkit-animation-duration: 4.5s;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: fadeInImageContent;
    -moz-animation-duration: 4.5s;
    -moz-animation-direction: normal;
    -moz-animation-timing-function: linear;
}

/* Classes used to easily style text in different sections off each page */
.about-text {
    font-family: "Exo" , sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.form-text {
    font-family: "Exo" , sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.article-text {
    font-family: var(--font-exo);
    text-align: justify;
    font-style: italic;
}

.copyright-text {
    display: flex;
    justify-content: flex-start;
    font-family: "Exo" , sans-serif;
}

.footer-text {
    font-family: "Exo" , sans-serif;
}

/* --------Colors-------- */

/* background color for gear logo section in gear page */
.bg-color-orange {
    background-color: var(--orange);
}

/* Background color for navbar */
.bg-color-navbar {
    background-color: var(--orange);
}

/* Background color for dropdown menu */
.dropdown-menu {
    background-color: var(--orange);
}

/* Color for text in hero images */
.heading-white {
    color: var(--white);
}

/* Filter on hero images */
.full-bg-image {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

/* Background color for footer */
.footer-container {
    background-color: var(--gunmetal);
}

/* Styling for button in subscribe form */
.btn {
    background-color: var(--orange);
    font-family: "Exo" , sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Hover effect for button in form */
.btn:hover {
    background-color: rgba(0, 0, 0, 0.5) ;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
}

/* Color for footer text to show contrast with darker background */
.footer-text {
    color: #fafafa;
}

/* --------Navbar-------- */

/* Box shadow for navbar to appear as if it hovers on each different section of the pages */
.navbar {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 20px -12px;
}

/* Used to overwrite bootstrap css for hover in the navbar without use of important */
.navbar-light
.navbar-nav 
.nav-link:focus, 
.navbar-light 
.navbar-nav 
.nav-link:hover {
    color: var(--white);
}

/* Hover effect for dropdown menu in navbar */
.dropdown-item:hover {
    background-color: var(--orange);
    color: var(--white);
}

/* Styling for active page in navbar */
.active {
    text-decoration: underline;
    font-weight: 700;
    color: black;
}

.dropdown-item.active {
    text-decoration: underline;
    font-weight: 700;
    background-color: var(--orange);
    color: black;
}

.dropdown-item.active:hover {
    color: var(--white);
}

/* --------Background Hero Image-------- */

/* Main hero Images with browser compatibillity */
.hero-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-image-main {
    background-image: url("../images/hero-climber.jpg");
}
.hero-image-lead-climbing {
    background-image: url("../images/lead-climbing.jpg");
}

.hero-image-bouldering {
    background-image: url("../images/bouldering.jpg");
}

/* Positioned slightly different for better view on gear in the image */
.hero-image-gear {
    background-image: url("../images/gear-up.jpg");
    background-position: top center;
}
/* --------Logo's-------- */

.logo {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    box-shadow: 7px 3px 8px -3px;     
}

/* Positioning for 27crags links underneath articles */
.crag-link {
    position: absolute;
    bottom: 0;
    left: 46%;
    color: var(--gunmetal);
}

/* Styling used for gear logos with hover effect */
.gear-logo {
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--white);
}

.gear-logo:hover {
    box-shadow: rgba(0 0 0 / 50%) 50px -36px 28px -35px;
}
/* --------Dividers-------- */

/* General heading divider */
.heading-divider {
    width: 40%;
    background-color: var(--white);
    margin-bottom: 50px;
}

/* Heading divider for white background */
.heading-divider--black {
    background-color: var(--gunmetal);   
}

/* Animation for heading divider in hero images */
.animate-divider {
    animation-name: fadeInImageContent;
    animation-duration: 3.5s;
    animation-direction: normal;
    animation-timing-function: linear;
    -o-animation-name: fadeInImageContent;
    -o-animation-duration: 3.5s;
    -o-animation-direction: normal;
    -o-animation-timing-function: linear;
    -webkit-animation-name: fadeInImageContent;
    -webkit-animation-duration: 3.5s;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: fadeInImageContent;
    -moz-animation-duration: 3.5s;
    -moz-animation-direction: normal;
    -moz-animation-timing-function: linear;
}

/* --------Containers-------- */

/* Padding used to provide spacing between sections */
.climbing-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Padding used to push contents of footer away from last section */
.footer-container {
    padding-top: 10px;
    margin-top: 0;
}

.logo-container {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* =======Form======= */

.form-box {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 50vw;
    height: auto;
    align-content: center;
    align-items: stretch;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 61%) 5px 23px 81px -28px;
}

/* =========Footer======= */

.footer-nav {
    list-style-type: none;
    font-family: "Exo" , sans-serif;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.footer-nav li a {
    color: var(--white);
}

.footer-nav li a:hover {
    color: var(--orange);
}

footer,
a:hover {
    color: var(--orange);
}

.link-item {
    list-style-type: none;
    letter-spacing: 2px;
}

.link-list {
    display: inline; 
}

/* ============Media Queries============ */

/* Font sizes set specifically for smaller screens to prevent overflow on pages*/
@media screen and (max-width:414px) {
    h1 {
        font-size: 5vh;
    }

    h2 {
        font-size: 4vh;
    }
}

@media screen and (max-width:990px) {
    /* Used to style form on smaller and medium screens */
    .form-box {
        width: 90vw;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Padding used to provide some space for 27crags icons underneath articles */
    article {
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    /* Used to push footer to the left on smaller screens */
    .footer-nav {
    list-style-type: none;
    font-family: "Exo" , sans-serif;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    }
}

/* Animation for Image Content */

@keyframes fadeInImageContent {
    0% {opacity: 0;}
    10% {opacity: 0;}
    20% {opacity: 0.10;}
    30% {opacity: 0.20;}
    40% {opacity: 0.30;}
    50% {opacity: 0.40;}
    60% {opacity: 0.50;}
    70% {opacity: 0.60;}
    80% {opacity: 0.70;}
    90% {opacity: 0.80;}
    95% {opacity: 0.90;}
    100% {opacity: 1;}
}

