

/* --------General Styling-------- */

html,
body,
header,
#hero-image {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto" , sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

/* --------Headings-------- */

.main-heading {
    padding-top: 200px;
    padding-left: 0.5em;
    margin: 0;
    font-family: "Roboto" , sans-serif;
    font-size: 8vh;
    letter-spacing: 2px;
    text-align: center;
}

.about-heading {
    font-family: "Roboto" , sans-serif;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.form-heading {
    font-family: "Roboto" , sans-serif;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 20px;
    padding-top: 40px;
}
/* --------Paragraphs-------- */

.heading-text {
    font-family: "Exo" , sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-text {
    font-family: "Exo" , sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-weight: 100;
}

.form-text {
    font-family: "Exo" , sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

/* --------Colors-------- */

.bg-color-navbar {
    background-color: #e4a923;
}

.main-heading {
    color: #fafafa;
}

.heading-text {
    color: #fafafa;
}

.full-bg-image {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}


/* --------Navbar-------- */

    
    

/* --------Background Hero Image-------- */

#hero-image {
    background: url(../images/hero-climber.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-radius: 2px;
}

/* --------Logo-------- */

.logo {
    max-height: 65px;
    max-width: 65px;
    border-radius: 50%;     
}

/* --------Dividers-------- */

.heading-divider {
    width: 40%;
    background-color: #fafafa;
}

.heading-divider--black {
    width: 40%;
    background-color: #333;
    
    
}

/* --------Containers-------- */

.about-container {
    height: 75vh;
    display: flex;
    align-items: center;
}

.form-container {
    height: 100vh;
    display: flex;
    align-items: center;
}