/* --------General Styling-------- */

html,
body,
header,
.hero-image {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto" , sans-serif;
    background-color: #fafafa;
}

/* Set width and height for all images for faster loading times */
img {
    width: 100%;
    height: auto;
}

/* Used to create responsive typography, will later on be created by using sass */
h1 {
    font-size: 8vw;
}

h2 {
    font-size: 4vw;
}

p {
    font-size: 1vw;
}


/* --------Headings-------- */

.full-bg-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-heading {
    margin: 0;
    /* font-size: 6vw; */
    letter-spacing: 2px; 
    animation-name: fadeInImageContent;
    animation-duration: 2.5s;
    animation-direction: normal;
    animation-timing-function: linear;
}

.heading { 
    text-align: center;
    letter-spacing: 2px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 200;
}


.footer-heading {
    text-align: center;
    color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* --------Paragraphs-------- */

.heading-text {
    font-family: "Exo" , sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    animation-name: fadeInImageContent;
    animation-duration: 4.5s;
    animation-direction: normal;
    animation-timing-function: linear;
}

.about-text {
    font-family: "Exo" , sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.form-text {
    font-family: "Exo" , sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.copyright-text {
    display: flex;
    justify-content: flex-start;
    font-family: "Exo" , sans-serif;
    text-align: center;
}

.footer-text {
    text-align: center;
    font-family: "Exo" , sans-serif;
}
/* --------Colors-------- */

.bg-color-navbar {
    background-color: #e4a923;
}

.dropdown-menu {
    background-color: #e4a923;
}

.heading-white {
    color: #fafafa;
}

.full-bg-image {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.footer-container {
    background-color: rgba(0, 0, 0, 0.5) ;
}

.btn {
    background-color: #e4a923;
    font-family: "Exo" , sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}

.bg-color-gear {
    background-color: #e4a923;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.5) ;
    color: #fafafa;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}

.footer-text {
    color: #fafafa;
}

.copyright-text {
    color: #fafafa;
}
/* --------Navbar: use of !important to overwrite bootstrap-------- */

.navbar {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 20px -12px;
}

.nav-link:hover {
    color: #fafafa !important;
}

.dropdown-item:hover {
    background-color: #e4a923 !important;
    color: #fafafa !important;
}
/* --------Background Hero Image-------- */

.hero-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-image-main {
    background-image: url("../images/hero-climber.jpg");
}
.hero-image-lead-climbing {
    background-image: url("../images/lead-climbing.jpg");
}

.hero-image-bouldering {
    background-image: url("../images/bouldering.jpg");
}

.hero-image-gear {
    background-image: url("../images/gear-up.jpg");
    background-position: top center;
}
/* --------Logo-------- */

.logo {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;     
}

.crag-link {
    display: flex;
    justify-content: center;
}

.gear-logo {
    width: 250px;
    height: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25%;
}
/* --------Dividers-------- */

.heading-divider {
    width: 40%;
    background-color: #fafafa;
}

.heading-divider--black {
    background-color: #333;   
}

.animate-divider {
    animation-name: fadeInImageContent;
    animation-duration: 3.5s;
    animation-direction: normal;
    animation-timing-function: linear;

}

/* --------Containers-------- */

.climbing-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    padding-top: 10px;
    margin-top: 0;
}
/* =======Form======= */



/* =========Footer======= */

.footer-nav {
    list-style-type: none;
    font-family: "Exo" , sans-serif;
}

.footer-nav li a {
    color: #fafafa;
}

.footer-nav li a:hover {
    color: #e4a923;
}

.footer-col {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


a:hover {
    color: #e4a923;
}

.link-item {
    list-style-type: none;
    letter-spacing: 2px;
}

.link-list {
    display: inline;
}

/* ============Media Queries============ */

@media screen and (min-width: 0) {
  .crag-link-lg a img {
      display: none;
  }
}


@media screen and (min-width: 992px) {
  .crag-link-lg a img {
      display: initial;
  }

  article a img {
        display: none;
    }
}

/* Animation for Image Content */


@keyframes fadeInImageContent {
    0% {opacity: 0;}
    10% {opacity: 0;}
    20% {opacity: 0.10;}
    30% {opacity: 0.20;}
    40% {opacity: 0.30;}
    50% {opacity: 0.40;}
    60% {opacity: 0.50;}
    70% {opacity: 0.60;}
    80% {opacity: 0.70;}
    90% {opacity: 0.80;}
    95% {opacity: 0.90;}
    100% {opacity: 1;}
}